/* MEDIA QUERIES */

@media (max-width: 66em) {
  .left-section {
    flex: 1;
  }

  .info h1 {
    font-size: 3.2rem;
  }

  .desc p {
    font-size: 1.6rem;
  }

  .imgg {
    max-width: 24rem;
  }
}

@media (max-width: 49em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 41em) {
  .main {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 9.6rem 0;
  }

  .imgg {
    max-width: 20rem;
    border: 0.2rem solid #6657ea;
    border-radius: 50%;
    padding: 0 2.4rem;
    justify-content: center;
  }

  .right-section {
    padding: 9.6rem 0;
    align-items: center;
  }

  .left-section {
    align-items: start;
    padding-top: 9.6rem;
    /* margin-top: 10rem; */
  }

  .hidden-btn {
    display: flex;
  }

  .unl {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 500ms ease-in;
  }

  .nav-open .unl {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open > #close {
    display: block;
  }
  .nav-open > #menu {
    display: none;
  }

  .infoo {
    flex-direction: column;
    justify-content: space-between;
    row-gap: 4.8rem;
    align-items: center;
    margin-right: 4.8rem;
  }

  .linktxt {
    font-size: 3.2rem;
    color: #6657ea;
  }

  .info {
    padding: 4.8rem 9.6rem;
    margin-left: 0;
  }

  .inttro,
  .desc {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .icons,
  .icon1,
  .iccon {
    flex-direction: row;
  }

  .icons {
    position: absolute;
    top: 80rem;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }

  /* #close {
    display: none;
  } */

  .bttn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 24em) {
  .topbar {
    padding: 4rem;
  }

  .btn {
    font-size: 1.2rem;
  }

  .info h1 {
    font-size: 2.8rem;
  }

  .info h2 {
    font-size: 2rem;
    /* line-height: 2.8rem; */
  }

  .desc p {
    font-size: 1.6rem;
  }
}
